.header {

    width: 100%;
    height: 100px;
    background-color: #283176;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 55px;
        height: 55px;
        margin-right: 18%;
        cursor: pointer;
    }
    .activeLink {
        color: red;
        font-size: 30px
    }

    span {
        color: white;
        padding: 10px;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
    }

    span:hover {
        background-color: white;
        border-radius: 20px;
        color: black;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        margin-left: 17%;
    }

    .logOut {
        background-color: rgba(30, 30, 103, .58);
        border: transparent;
        color: #fff;
        cursor: pointer;
        height: 25px;
        width: 80px;
        border-radius: 5px;
        margin-left: 20px;
    }

    .logOut:hover {
        background-color: white;
        color: black;
    }
}