.card{
    display: flex;

    input{
        width: 240px;
        height: 30px;
        margin-top: 30px;
        margin-left: 40%;
    }
    button{
        width: 90px;
        height: 30px;
        margin-left: 10px;
        border: none;
        border-radius: 7px;
        background-color: #bd27b8;
        color: white;
        cursor: pointer;
    }
}