.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    img {
        width: 220px;
        height: 220px;
        margin-bottom: 10px;

    }

    span {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
    }

    .login {
        background-color: red;
        margin-bottom: 10px;
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;
    }

    .followers {
        background-color: rgb(191, 255, 0);
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;


    }

    .following {
        background-color: rgb(55, 0, 255);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;

    }

    .bio {
        background-color: rgb(13, 255, 0);
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;


    }
    .name {
        background-color: rgb(96, 99, 96);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;

    }
    .fav {
        background-color: rgb(255, 0, 221);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        cursor: pointer;
        border: none;


    }
}