.background {
    width: 100%;
    height: 70vh;
    background-image: url(../../../assets/where-to-integrate-home-office-ideas-15.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: rgb(213, 0, 0);
        font-size: 47px;
        margin-left: 23%;
        width: 900px;
        text-align: center;
        cursor: pointer;
        text-decoration: underline;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: absolute;
        left: 36%;
        top: 20px;
        z-index: 2;

        .form {
            background-color: rgb(229, 247, 229);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding: 90px;
            box-shadow: 25px -20px 59px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 25px -20px 59px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 25px -20px 59px 3px rgba(0, 0, 0, 0.75);
             margin-bottom: 50px;


            h2 {
                position: relative;
                bottom: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                width: 70px;
                margin-bottom: 30px;
                color: #666262;
                font-size: 50px
            }

            label {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 17px;
            }

            .form-control {
                border: 1px solid gray;
                border-radius: 4px;
                height: 30px;
                margin: 10px 0;
                max-width: 300px;
                outline: none;
                width: 300px;

            }

            .submit-button {
                background-color: #bd27b8;
                border: 0;
                border-radius: 5px;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                height: 42px;
                margin: 10px 0 47px;
                width: 306px;
            }

            span {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            a {
                color: #bd27b8;
                cursor: pointer;
                text-decoration: underline;
                margin-left: 13px;
            }
        }
    }
}

footer {
    background-color: rgb(35, 23, 23);
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        color: white;
        font-size: 20px;
        margin-bottom: 15px;
    }

    span {
        color: white;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .wid {
        width: 140px;
    }

    .images {

        img {
            width: 40px;
            height: 40px;
        }
        a{
            margin-left: 19px;
            position: relative;
            bottom: 17px;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        
        }
    }

    .last {
        width: 140px;
    }

    .map{
        height: 240px;
    }
    .par{
        margin-left: 100px;
    }
  
   
}
