<div class="card">
    <div class="card-header">
        <span class="followers">{{githubProfile.followers}}   Followers</span>
        <span class="repo">{{githubProfile.public_repos}} Repositories</span>
        <span class="gist">{{githubProfile.public_gists}} Gists</span>
        <span class="following">{{githubProfile.following}} Following</span>
    </div>
    <div class="card-body">
        <ul>
            <li>
                User Name: {{githubProfile.name}}
            </li>
            <li>
                Location: {{githubProfile.location}}
            </li>
            <li>
                Company: {{githubProfile.company}}
            </li>
            <li>
                 Blog: {{githubProfile.blog}}
            </li>
            <li>
                Member Since: {{githubProfile.created_at | date}}
            </li>
            <li>
                Profile Url: {{githubProfile.html_url}}
            </li>
        </ul>
    </div>
</div>