<div class="user"  *ngIf="(currentGithubUser | async) as user">
    <img src="{{user.avatar_url}}" alt="">
    <div class="details">
        <h3>User Details</h3>
        <span class="login">Useraneme: {{user.login}}</span>
        <span class="followers">Followers: {{user.followers}}</span>
        <span class="following">Following: {{user.following}}</span>
        <span class="bio">bio: {{user.bio}}</span>
        <span class="name">Name: {{user.name}}</span>
        <button (click)="saveData()" class="fav">Add To Favourites</button>
    </div>
  
</div>
<h1>Github Repositories</h1>
<ng-container *ngFor="let repos of userRepositories | async">
    <div class="repos">
        <a [href]="repos.html_url">Name: {{repos.name}}</a>
        <span>{{repos.stargazers_count}}Stars:</span>
        <span>{{repos.watchers_count}} Watchers:</span>
    </div>
</ng-container>