.user {
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: 3px solid;


    .details {
        margin-left: 2%;
        margin-top: 13px
    }

    h3 {
        margin-bottom: 10px;
        font-size: 25px;
        font-family: cursive
    }

    img {
        width: 270px;
        height: 270px;
        margin-bottom: 10px;
        margin-left: 75px;
    }

    span {
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
    }

    .login {
        background-color: red;
        margin-bottom: 10px;
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;
        margin-right: 10px
    }

    .followers {
        background-color: rgb(191, 255, 0);
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;
        margin-right: 10px
    }

    .following {
        background-color: rgb(55, 0, 255);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;
        margin-right: 10px
    }

    .bio {
        background-color: rgb(13, 255, 0);
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 7px;
        margin-right: 10px
    }

    .name {
        background-color: rgb(96, 99, 96);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;
        margin-right: 10px
    }

    .fav {
        background-color: rgb(255, 0, 221);
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 7px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        cursor: pointer;
        border: none;
    }
}
h1{
    width: 100%;
    background-color: blueviolet;
    font-family: cursive ;
}
.repos{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    a{
        font-size: 23px;
        text-decoration: none;
        margin-top: 15px;
    }
    span{
        margin-top: 20px;
    }
    .stars{
        // margin-left: 40%;
        background-color: yellow;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    .watchers{
        margin-right: 25px;
        background-color: rgb(73, 232, 73);
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
}